# RPC Provider

## The Alchemy API key (see https://www.alchemy.com/)

export ALCHEMY_API_KEY=<ALCHEMY_API_KEY>

## The Nownodes API key (see https://nownodes.io/)

export NOWNODES_API_KEY=<NOWNODES_API_KEY>
